// -------------------VARIABLES---------------------
$primaryBlack: #222;
$secondaryBlack: #A7A7A7;
$mainGrey: #EEEEEE;
$secondaryGray: #DDD;
$hoverColor: #2AD2B0;

$hambasewidth: 15px;
$hamsizemultiplier: 2;

// --------------------MIXINS----------------------
@mixin atMedium {
    @media (min-width: 875px){
        @content;
    }
}

@mixin atSmall {
    @media (max-width: 640px){
        @content;
    }
}

@mixin clearfix {
	&::after {
	content: "";
	clear: both;
	display: table;
	}
}

// --------------------GLOBAL STYLES---------------
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0.02em;
}

a {
    color: $primaryBlack; 
    transition: all 0.3s ease;  
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1.5px;
   }

a:hover {
text-decoration: none;
color:$hoverColor;
cursor: pointer;
}
// ---- TEST ----
.test {
    padding-top: 120px;
}
// -------------------HEADER STYLES----------------
.site-header {
    position: fixed;
    top: -3px;
    left: 0;
    right: 0;
    z-index: 10;

    @include clearfix;
    &__nav {
        position: relative;
        overflow: hidden;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                padding: 20px 0px;
                margin: 0px 10px;
                border-bottom: 1px solid $secondaryGray;
            }

            li:last-child {
                border: none;

            }
        }

    }

    &__text-area {
        position: relative;
    }

    &__site-name {
        font-size: 2rem;
        margin-left: 40px;
        width: 150px;
        float: left;
        padding-right: 5%;
    }

    &__description {
        float: left;
        width: 200px;
        margin: 33px 0 0 0;
        color: $secondaryBlack;
        display: none;

        @include atMedium {
            display: inline-block;
        }
    }

    &__right {
        background: $mainGrey;
        transform: translateY(0);
        transition: all 0.3s ease;
    }

    &__left {
        position: relative;
        top: 0px;
        background: #fff;
        transform: translateY(0);
        transition: all 0.3s ease;
        text-align: left;
        padding: 0px;
        width: 100%;
        height: 80px;
    }
}

.right-toggled {
    transform: translateY(-100%);
}

.left-toggled {
    transform: translateY(-250%);
    position: relative;
    top: -36px;
}

//Hamburger icon

.hamburger {
    width: $hambasewidth * $hamsizemultiplier;
    height: 22.5px * $hamsizemultiplier;
    position: absolute;
    cursor: pointer;
    padding: 21px;
    margin-right: 40px;
    right: 0;
    top: 0;
    span {
      display: block;
      position: absolute;
      height: 2.22px * $hamsizemultiplier;
      width: 100%;
      background: $hoverColor none repeat scroll 0% 0%;
      opacity: 1;
      right: 0px;
      transition: all 0.3s ease-in-out 0s;
      transform: rotate(0deg);
      border-radius: 3px;
      &:nth-child(1) {
        margin-top: 0px;
      }
      &:nth-child(2) {
        margin-top: 8px * $hamsizemultiplier;
        margin-right: 0px;
      }
      &:nth-child(3) {
        margin-top: 16px * $hamsizemultiplier;
      }
    }
    &.opened {
      span {
        &:nth-child(1) {
          transform: rotate(135deg);
          margin-top: 8px * $hamsizemultiplier;
        }
        &:nth-child(2) {
          opacity: 0;
          right: -$hambasewidth * 3;
        }
        &:nth-child(3) {
          transform: rotate(-135deg);
          margin-top: 8px * $hamsizemultiplier;
        }
      }
    }
  }
 

  // ------------------FOOTER STYLES------------------
  .site-footer{
      position: relative;
      border-top: 1px solid $mainGrey;
      line-height: 25px;
      padding-bottom: 15px;
      
      &__nav-container{
          position: relative;
          padding: 0px 30px;
          @include atMedium {
            display: flex;
            flex-direction: row;
            align-items: stretch;
          }
          ul{
              list-style-type: none;
              padding-left: 0;
              margin-left: 0;
              
                li{
                    display: inline-block;
                    padding: 0px 10px;
                }
          }
      }

      &__link-nav {
          ul {
              padding-top: 12px;
          }
          @include atMedium{
              width: 50%;
              vertical-align: top;
              float: left;
              text-align: left;
              min-height: 75.99;
              @include clearfix;
          }
      }

      &__social-nav{
          font-size: 25px;
          @include atMedium{
            width: 50%;
            vertical-align: top;
            float: left;
            text-align: right;
          }
          @include clearfix;
        }

      &__copyright {
          width: 100%;
          font-size: 0.7rem;
          color: $secondaryBlack;
      }
  }